body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.calculator {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.category-table {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.Bajopeso, .Normal, .Sobrepeso, .Obsesidad {
    background-color: white; /* Inicialmente blanco */
}

.Bajopeso.active {
    background-color: #ffcc66; /* Amarillo */
}

.Normal.active {
    background-color: #99ff99; /* Verde */
}

.Sobrepeso.active {
    background-color: #ff9966; /* Naranja */
}

.Obsesidad.active {
    background-color: #ff6666; /* Rojo */
}